nav {
	font-size: large;
	height: 3rem;
}

.navbar {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #333;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	width: 100%;
	display: flex;
	justify-content: center;
}

.navbar li a {
	display: block;
	color: white;
	text-align: center;
	padding: 1rem 2rem;
	text-decoration: none;
}

.navbar li a:hover {
	background-color: #111;
}

.active {
	background-color: #111;
}

#start {
	background-image: url(/images/shayan-ramesht-exSEmuA7R7k-unsplash.jpg);
	height: 54rem;
}

#start img {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

#start h1 {
	text-align: center;
}